<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaborador">
    <insert id="colaborador-registrar" parameterType="pojo.Colaborador">
        INSERT INTO colaborador(nombre, apellidoPaterno, apellidoMaterno, 
        correo, noPersonal, contrasena, curp, idRol, foto, noLicencia)
        VALUES
        (#{nombre}, #{apellidoPaterno},#{apellidoMaterno},
        #{correo},#{noPersonal},#{contrasena},#{curp},
        #{idRol},#{foto},#{noLicencia});
    </insert>
    
    <update id ="colaboradorActualizar" parameterType ="pojo.Colaborador">
        UPDATE colaborador 
        SET nombre = #{nombre}, apellidoPaterno=#{apellidoPaterno}, apellidoMaterno = #{apellidoMaterno}, 
        correo=#{correo}, contrasena = #{contrasena}, foto = #{foto}, noLicencia =#{noLicencia}
        WHERE idColaborador = #{idColaborador}
    </update>
    
    <delete id= "colaboradorEliminar" parameterType = "int">
        DELETE FROM colaborador 
        WHERE idColaborador = #{idColaborador}
    </delete>
    
    <select id = "colaboradorBuscar" resultType = "pojo.Colaborador">
       SELECT colaborador.idColaborador, colaborador.nombre, colaborador.apellidoPaterno, colaborador.apellidoMaterno, 
        colaborador.correo, colaborador.noPersonal,colaborador.curp, colaborador.idRol, colaborador.noLicencia,
        rol.nombre
        FROM colaborador,rol WHERE colaborador.nombre = #{nombre} OR colaborador.noPersonal = #{noPersonal}
        OR (rol.nombre = #{idRol} and rol.idRol = colaborador.idRol);
    </select>
    
    <select id="obtenerColaboradores" resultType="pojo.Colaborador">
select idColaborador, colaborador.nombre, apellidoPaterno, apellidoMaterno, correo, noPersonal, 
contrasena, curp, colaborador.idRol, foto, noLicencia, rol.nombre as nombreColaborador from
colaborador, rol where rol.idRol=colaborador.idRol;
    </select>
    
</mapper>
