<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="envio">
    <insert id="agregarEnvio" parameterType="pojo.Envio">
        INSERT INTO envio( idCliente, calle, numero, colonia, cp, 
        ciudad, estado, destino, noGuia, costo, estatus, motivo, idConductor)
        VALUES (#{idCliente}, #{calle}, #{numero}, #{colonia}, #{cp}, #{ciudad},
        #{estado}, #{destino}, #{noGuia}, #{costo}, #{estatus}, #{motivo},
        #{idConductor});
    </insert>
    <update id="editarEnvio" parameterType="pojo.Envio">
        UPDATE envio SET idCliente= #{idCliente}, calle= #{calle}, numero=#{numero}, 
        colonia= #{colonia}, cp=#{cp}, ciudad=#{ciudad}, 
        estado=#{estado}, destino=#{destino}, costo= #{costo}, estatus=#{estatus}, 
        motivo= #{motivo}, idConductor=#{idConductor}
        WHERE idEnvio = #{idEnvio};
    </update>
    <delete id="eliminarEnvio" parameterType="int">
        DELETE FROM envio WHERE idEnvio=#{idEnvio};
    </delete>
    
    <select id ="obtenerEnvioGuia" parameterType = "int" resultType ="pojo.Envio">        
        select idEnvio, envio.idCliente, envio.calle, envio.numero, envio.colonia, envio.cp, envio.ciudad, envio.estado,
        envio.destino, envio.noGuia, envio.costo, envio.estatus, envio.motivo, envio.idConductor, 
        concat(clientes.nombre," ",clientes.apellidoPaterno) as  nombreCliente , count(paquete.descripcion) as cantidadPaquetes,
        colaborador.nombre as conductorAsignado
        from envio, clientes, paquete, colaborador
        where noGuia=#{noGuia} and clientes.idCliente = envio.idCliente 
        and paquete.envio = envio.idEnvio and colaborador.idColaborador = envio.idConductor;                
    </select>
    
    <select id="obtenerHistorial" parameterType="int" resultType="pojo.HistorialEnvio">
        select idCambio, idEnvio, estatus, fechaCambio, idColaborador from historialestatusenvio 
        where idEnvio = #{idEnvio};
    </select>
</mapper>
