<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <environments default="development">
        <environment id="development">

            <transactionManager type="JDBC"/>
                <dataSource type="POOLED" >
                    <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                    <property name="url" value="jdbc:mysql://localhost:3306/timefast?serverTimezone=UTC"/>  
                    <property name="username" value="sebastiancc27"/>    
                    <property name="password" value="Missebas27"/>
                    <property name="poolMaximumActiveConnections" value="50"/>
                </dataSource>

        </environment>
        
        <environment id="pruebas">

            <transactionManager type="JDBC"/>
                <dataSource type="POOLED" >
                    <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                    <property name="url" value="jdbc:mysql://localhost:3306/timefast?serverTimezone=UTC"/>  
                    <property name="username" value="sebastiancc27"/>    
                    <property name="password" value="Missebas27"/>
                    <property name="poolMaximumActiveConnections" value="50"/>
                </dataSource>

        </environment>

    </environments>

<mappers>
    <mapper resource="mybatis/mappers/ColaboradorMapper.xml"/>
    <mapper resource="mybatis/mappers/LoginMapper.xml"/>
    <mapper resource="mybatis/mappers/UnidadMapper.xml"/>    
    <mapper resource="mybatis/mappers/ClienteMapper.xml"/>    
    <mapper resource="mybatis/mappers/EnvioMapper.xml"/> 
    <mapper resource="mybatis/mappers/PaqueteMapper.xml"/>
    <mapper resource="mybatis/mappers/RolMapper.xml"/>
</mappers>

</configuration>


